<h4>You have applied to the following positions!</h4>

<table>
  <tr>
    <th>Rank</th>
    <th>Company</th>
    <th>Title</th>
    <th>Category</th>
    <th>Job Posting</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let job of jobs">
    <td> {{ job.rating }} </td>
    <td> {{ job.company }} </td>
    <td> {{ job.title }} </td>
    <td> {{ job.category }} </td>
    <td> {{ job.linktopost }} </td>
    <td> {{ job.status }} </td>
    <td>
      <button (click)="viewJob(job)"> Details </button>
      <button (click)="editJob(job)"> Edit </button>
    </td>
  </tr>
</table>